{% extends 'base.html.twig' %}

{% block stylesheets_sub_sub '' %}

{% block title 'Movie description - ' ~ parent() %}


{% block body %}

    {% embed 'vertical_blocks.html.twig' %}
        {% block first %}
            <h1>Movie description</h1>
        {% endblock %}

        {% block second %}

            <div class="movie-description">
                Title : {{ movie.title }} <br />
                Release date : {{ movie.releaseDate|date('d/m/Y') }}<br />
                Genre : {{ movie.genre.name }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
